.message-panel-container {
  flex: 1;
  padding-left: 15px;
  padding-right: 4px;
  padding-top: 15px;
  font-family: "Roboto";
  font-weight: 300;
  max-height: 50dvh;
  overflow: auto;
}

/* 
  In case the chatbot glitches on resizing the window, the only remedy or fix for that 
  would be to fix the chatbot message panel height, here are the steps to achieve that

  1. remove `flex: 1` from `.message-panel-container`
  2. remove `max-height: 50dvh` from `.message-panel-container`
  3. add `height: 455px` in `.message-panel-container`
*/

.message-container {
  display: flex;
}

.assistant-message-style {
  background-color: #e0f1ff !important;
}

.avatar {
  background-color: #e0e0e0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #e0e0e0;
}

.message {
  background-color: #ecf4d6;
  width: fit-content;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 16px;
  max-width: 1000px;
  margin-right: 10px;
  margin-top: 0px;
}

.no-message-container {
  background-color: #e0e0e0;
  width: fit-content;
  padding: 6px;
  border-radius: 6px;
  margin-right: auto;
  margin-left: auto;
}

.message-inner-container {
  display: flex;
}

.loading-icon {
  position: fixed;
  bottom: 52px;
  right: 22px;
}

.error > .message {
  background-color: #ffe0e0 !important;
}
